*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(90deg, #3e3eaf, #26c59d);
    text-align: center;
}

.container{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.design{
    height: 58vmin;
    width: 58vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:16px;
    background-color: rgba(97, 73, 147, 0.41);
    border: 1.2px solid black;
    border-radius: 42px;
    padding: 24px;


}

.box{
    height: 17vmin;
    width: 17vmin;
    border:none;
    border-radius: 20px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.4);
    font-size: 35px;
    color:rgb(96, 38, 70);
    background-color: rgba(245, 245, 245, 0.858);
    
    
}

.box:hover{
    box-shadow: 0 4px 18px rgba(1, 2, 3, 0.9);

}


#reset{
    font-size: 28px;;
    /* margin: 20px; */
    margin: 22px;
    border-radius: 25px;;
    padding: 10px;
    padding-right:25px;
    padding-left: 25px;
   background: linear-gradient(90deg, #66d5c8, #479ab8);
   
    
}

#para{
    font-weight: 800;
    font-style: italic;
    font-size: 25px;
    padding: 13px;
}

#new_game{
    padding: 10px;
    padding-right:28px ;
    padding-left:28px ;
    border-radius: 11.5px;;
    border:3.4px solid black;
}

.hide{
    display: none;
}

/* .visible{
    display: none;
} */






h1{
    font-size: 57px;
    padding-top: 20px;
}
